/* App.css */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    transition: background-color 0.3s, color 0.3s; 
    background-color: #e0e0e0;
    color: #333333;
  }

body.dark-mode {
    background-color: #1f2937;
    color: #ffffff; 
  }

body.dark-mode .navbar-link {
    color: #ffffff; 
  }

body.dark-mode .navbar-link:hover {
    color: #d1d5db; 
  }

.navbar-link {
    color: #333333; 
  }

.navbar-link:hover {
    color: #007bff;
  }